/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      -
 * @created_by  - Asraful Hoque
 * @created_at  -
 * @modified_by -
 */

/* fonts import */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');


/* fonts import -END */

/* reset, root */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


/* reset, root - END */

// container resize
.container {
    @media (min-width: 1400px) {
        max-width: 1416px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.p2 {
    color: #4B5768;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400px;

    @media (max-width:575px) {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }

}



// container resize - end

/* helper , base classes */

// text-color

.text-primary {
    color: #00FFA2;
}

.text-dark {
    color: #001B44;
}

.bg-dark {
    background-color: #001B44;
}

.bg-light {
    background-color: #E2FFF5;
}

.bg-extra-light {
    background-color: #E9F4F0;
}

.bg-dark7 {
    background-color: #001B44;
}

.text-dark-v2 {
    color: #ECEEF1;
}

.text-dark-2 {
    color: #8E97A6;
}

.text-dark-3 {
    color: #5D6878;
}

.text-dark-4 {
    color: #8E97A6;
}

.fs-13 {
    font-size: 13px;
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-14-v2 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;

    @media (max-width:575px) {
        font-size: 14px;
        font-weight: 700;
    }
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-24-v2 {
    font-size: 24px;

    @media (max-width:575px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.fs-24-v3 {
    font-size: 24px;

    @media (max-width:575px) {
        font-size: 18px;
        line-height: 23px;
    }
}

.fs-20 {
    font-size: 20px;

    @media (max-width:575px) {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
    }
}

.fs-30 {
    font-size: 30px;
}

.fs-32 {
    font-size: 32px;

    @media (max-width:575px) {
        font-size: 18px;
        line-height: 23px;
    }
}

.fs-36 {
    font-size: 36px;
}

.fs-44 {
    font-size: 44px;

    @media (max-width:575px) {
        font-size: 24px;
        line-height: 31px;
        font-weight: 700;
    }
}

.fs-54 {
    font-size: 54px;
}

.fs-56 {
    font-size: 56px;

    @media (max-width:575px) {
        font-size: 32px;
        line-height: 41px;
        font-weight: 400;
    }
}

.fw-medium {
    font-weight: 500;
}

.fw-semi-medium {
    font-weight: 400px;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}


.radius-10 {
    border-radius: 10px;
}

.radius-12 {
    border-radius: 12px;
}

.radius-16 {
    border-radius: 16px;
}

.radius-96 {
    border-radius: 96px;
}

.radius-4 {
    border-radius: 4px;
}

.radius-500 {
    border-radius: 500px;
}

.radius-100 {
    border-radius: 100px;
}

// padding
.banner-padding {
    padding: 260px 0 500px 0;
}

.p-100 {
    padding: 100px 0;

    @media (max-width:575px) {
        padding: 100px 0;
    }
}

// line-height 
.lh-23 {
    line-height: 23.4px;
}

.lh-18 {
    line-height: 18px;
}

.lh-15 {
    line-height: 15px;
}

.lh-21 {
    line-height: 21px;
}

.lh-31 {
    line-height: 31px;
}

.lh-22 {
    line-height: 22px;
}

.lh-25 {
    line-height: 25px;
}

.lh-30 {
    line-height: 30px;
}

.lh-40 {
    line-height: 40px;
}

.lh-41 {
    line-height: 41px;
}

.lh-46 {
    line-height: 46px;
}

.lh-57 {
    line-height: 57px;
}

.lh-3.37 {
    line-height: 3.37rem;
}


// custom button
.green-yello-btn {
    padding: 18px 32px;
    border-radius: 100px;
    background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #001B44;

    @media (max-height:575px) {
        padding: 14px 24px;

    }
}

.warm-btn {
    padding: 5px 10px;
    border-radius: 100px;
    background: #001B44;
}

.warm-white-btn {
    padding: 5px 10px;
    border-radius: 100px;
    background: #FFF;
}

.task-btn {
    padding: 10px 20px;
    border-radius: 100px;
    background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}

.task-dark-btn {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #ECEEF1;
}


.refresh-btn {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #ECEEF1;
}

}

/* helper , base classes  - END*/

// nav start
nav {
    .navbar-btn {
        background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
        padding: 13px 20px;

        a {
            color: #001B44 !important;


        }
    }

    .navbar-toggler-icon {
        @media (max-width:575px) {
            background-color: white;
        }
    }


}

// banner start
.banner {
    background-image: url(../img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: -100px;

    @media (max-width:575px) {
        background-image: url(../img/banner-bg.png);
        margin-top: -200px;

    }

    .banner-btn {
        background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
        padding: 13px 20px;
        display: inline-block;
        color: #001B44;
    }

    .banner-head,
    .banner-sub-head {
        max-width: 725px;
    }

    .dreams {
        background: linear-gradient(129deg, #FF3363 13.86%, #FFE664 84.98%, #00FFA2 91.85%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// discover
.discover {
    .discounts {
        padding: 47px 70px 47px 70px;
        border-radius: 12px;
        border: 1px solid var(--dark-dark_5, #B7BCC3);
        background: rgba(255, 255, 255, 0.90);
        backdrop-filter: blur(7.5px);
        border-radius: 10px;
        background-image: url(../img/discount-bg.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        .discover-select {
            border: 0;
        }

        @media (max-width:575px) {
            padding: 46px 18px 47px 23px;


        }


        .discount-off {
            top: 6px;
            left: 6px;


        }

        h5 {
            background-color: #FFE664;
            display: inline;
            padding: 8px 15px;
            border-radius: 25px;
        }
    }

    .discover-select {
        border: 0;
        width: 262px;
        margin-top: 5px;
        background-color: transparent;

        @media (max-width:575px) {
            width: 230px;
        }

        &:focus {
            outline: none;
        }
    }

    .discover-right-col {
        border-radius: 12px;
        border: 1px solid #00FFA2;
        box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
        padding: 25px;

        @media (max-width:575px) {
            border: 0;
            box-shadow: none;
        }
    }

    .right-middle {
        padding: 12px 24px 15px 24px;
        border-radius: 12px;
        border: 1px solid #8E97A6;


    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: #848B9A;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .discount-btn {
        border-radius: 100px;
        background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
        padding: 18px 32px;

    }

    .discover-left-head,
    .discover-left-sub {
        @media (max-width:575px) {
            text-align: center;
        }
    }

    .splide__arrow--prev {
        display: none !important;
    }

    .splide__arrow--next {
        display: none !important;
    }

    .splide__pagination--ltr {
        margin-top: 20px !important;
    }

    .splide__pagination--ltr {
        display: none !important;
    }
}

// ideal sub
.ideal-ride {
    background-color: #ECEEF1;

    @media (max-width:575px) {
        padding: 47px 0;
    }

    .ideal-sub {
        max-width: 696px;
        margin: auto;
    }

    .ideal-card-sub {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }

    .ideal-card {
        background-color: #FFF;
        padding: 24px 61px;
        border-radius: 12px;
        box-shadow: 0px 0px 40px -13px rgba(0, 27, 68, 0.25);
        max-height: 500px;

        .ideal-card-img {
            max-width: 200px;

            @media (max-width:575px) {
                min-height: 200px;

            }
        }
    }


    .ideal-card-logo {
        left: -27px;
    }

    .mechanical-breakdown {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .container {
        position: relative;
    }

    .swiper-slide {
        height: 200px;
        background: #ddd;
    }

    .ideal-card-1 {
        @media (max-width:575px) {
            .splide__arrow {
                display: none !important;
            }
        }
    }

    .splide__arrow--prev {
        left: -5rem;
        background-color: #FFF;

    }

    .splide__arrow--next {
        right: -5rem;
        background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;

    }
}

// customers 
.prospering-customers {
    background-color: #001B44;

    .drive {
        background: linear-gradient(90deg, #FF3363 57.9%, #FFE464 76.87%, #FFE664 76.88%, #F8E766 76.88%, #00FFA2 96.62%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .customers-sub {
        max-width: 696px;
        margin: auto;
        color: #E5E8ED !important;
    }

    .splide__arrow--prev,
    .splide__arrow--next {
        display: none !important;
    }

    .customers-head {
        max-width: 696px;
        margin: auto;
    }



}

// military-offer
.military-offer,
.credit-history {

    .miltary-mini-head,
    .upgrade-mini-head {
        border-radius: 100px;
        background: #ECEEF1;
        display: inline;
        padding: 5px 10px;
    }

    .miltary-head,
    .miltary-sub-head {
        @media (max-width:575px) {
            text-align: center;
        }
    }

    .military-offer-btn {
        padding: 18px 32px;
        border-radius: 100px;
        background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
        display: inline-block;


    }
}

// born-offer
.born-offer {
    background-image: url(../img/born-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media (max-width:575px) {
        background-image: url(../img/born-small-bg.svg);
    }

    .born-main {
        padding: 576px 0 96px 0;
        max-width: 596px;

        .first-time {
            background: linear-gradient(90deg, #FF3363 17.31%, #FFE464 30.97%, #FFE664 30.97%, #F8E766 30.97%, #00FFA2 45.19%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .born-offer-btn {
            padding: 18px 32px;
            border-radius: 100px;
            background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
            display: inline-block;
        }
    }

}

// find make
.find-make {
    background-color: #ECEEF1;

    .find-card-wrapper {
        border-radius: 12px;
        border: 1px solid var(--gradient-gradient_2, #00FFA2);
        box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
    }

    .find-card-img {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .find-make-sub {
        max-width: 696px;
        margin: auto;
    }

    .find-card-bottom {
        padding: 32px;
    }



}

// upgrade ride
.upgrade-ride {
    .upgrade-mini-head {
        border-radius: 100px;
        background: #ECEEF1;
        display: inline;
        padding: 5px 10px;
    }

    .upgrade-bottom {
        @media (max-width:575px) {
            margin-top: 20px;
        }
    }
}

// AutoProsper-join
.autoprosper-join {
    background-color: #ECEEF1;

    .join-head,
    .join-sub {
        max-width: 696px;
        margin: auto;
    }

    .join-cards {
        border-left: 1px solid #0A1835;
        padding: 0 64px 30px 32px;

        @media (max-width:575px) {
            border-top: 1px solid #0A1835;
            border-left: none;
            padding-top: 24px;

        }
    }

    // .join-card-unique {
    //     @media (max-width:575px) {
    //         border-bottom: none !important;
    //     }
    // }
}

// consultancy
.consultancy {
    background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);

    .consultancy-wrapper {
        border-radius: 12px;
        background: #FFF;
        padding: 24px;
    }
}

// guide-tips
.guide-tips {
    background-color: #ECEEF1;

    .tips-wrapper {
        background-color: #FFF;
        border-radius: 12px;
        box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);

        .tips-bottom {
            padding: 24px;
        }

        .tips-sub-head {
            font-size: 16px !important;
            font-weight: 400 !important;
        }

        .tips-img {
            padding: 5px;
        }

        .tips-read {
            margin-top: 109px;
        }
    }

    .splide__arrow--next,
    .splide__arrow--prev {
        @media (max-width:575px) {
            display: none !important;
        }
    }

}

// footer
footer {
    @media (max-width:575px) {
        padding: 20px;
    }

    .footer-links {
        a {
            color: white;
            list-style: none;
            text-decoration: underline;
            font-size: 14px;
            font-weight: 600px;
            color: #97A5C1;


        }
    }

    .footer-divider {
        height: 1px;
        background-color: #97A5C1;
        margin: 60px 0;
    }

    .copyright {
        color: #97A5C1;
    }

    .copy {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            height: 20px;
            width: 1px;
            background-color: #97A5C1;
            right: -24px;
        }
    }
}


// ...
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    user-select: none;

    &>* {
        margin: .5rem 0.5rem;
    }
}



.checkbox-group-legend {
    font-size: 1.5rem;
    font-weight: 700;
    color: #9c9c9c;
    text-align: center;
    line-height: 1.125;
    margin-bottom: 1.25rem;
}

.checkbox-input {
    // Code to hide the input
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;

    &:checked+.checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        color: #2260ff;

        &:before {
            transform: scale(1);
            opacity: 1;
            background-color: #2260ff;
            border-color: #2260ff;
        }

        .checkbox-icon,
        .checkbox-label {
            color: #2260ff;
        }
    }

    &:focus+.checkbox-tile {
        border-color: #2260ff;
        box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        border: 2px solid #b5bfd9;
        background-color: #fff;
        border-radius: 50%;
        top: 0.25rem;
        left: 0.25rem;
        opacity: 0;
        transform: scale(0);
        transition: 0.25s ease;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &:hover {
        border-color: #2260ff;

        &:before {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.checkbox-icon {
    transition: .375s ease;
    color: #494949;

    svg {
        width: 3rem;
        height: 3rem;
    }
}

.checkbox-label {
    color: #707070;
    transition: .375s ease;
    text-align: center;
}

.checkbox-tile {
    padding: 47px 70px;
}

.checkbox-head {
    color: #8E97A6;
    font-size: 9px;
    font-weight: 700;
    line-height: normal;
}


.red-border {
    border: 1px solid red;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}

.discount-label {
    input {
        &:checked~ {
            .label-content {
                .red-border {
                    opacity: 1;
                    visibility: visible;
                }

            }
        }
    }
}


// accordion 
.accordions {
    .accordion-wrapper {
        // border-bottom: 2px solid red;
    }

    .accordion-button:not(.collapsed) {
        background-color: transparent;
    }

    .accordion-button:focus {
        border-color: 0;
        outline: 0;
        box-shadow: none;
    }


    .accordion-item {
        border: none;
    }

    .accordion-body {
        padding-left: 120px;
    }

    .accordion-button:not(.collapsed) {
        padding-left: 120px;
        transition: all 200ms ease-in-out;

    }

    .accordion-button {
        position: relative;
        font-size: 25px;

        &::before {
            position: absolute;
            content: "";
            width: 62px;
            height: 62px;
            background-image: url('../img/arrow-up-icon.svg');
            background-repeat: no-repeat;
            left: 30px;
            top: 0px;
            transition: all 120ms;
            visibility: visible;
        }

        &.collapsed {
            &::before {
                visibility: hidden;
                top: 30px;


            }
        }
    }



}

.lightbox {
    .popup-gallery {
        text-align: center;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 999;
}

.offcanvas-body {
    background-color: black;
}

#offcanvas-btn {
    background-color: transparent !important;
    border: 0;
}

.nav-item {

    list-style: none;

}