/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      -
 * @created_by  - Asraful Hoque
 * @created_at  -
 * @modified_by -
 */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
/* fonts import -END */
/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --blue: #2161e0;
  --aliceblue: #e7efff;
  --pink: #e93266;
  --lavender: #ffedf2;
  --dark: #101044;
  --eastbay: #54547a;
  --stormgrey: #6f6f87;
  --manatee: #8d8dae;
  --solitude: #e9e9f1;
  --lavender2: #f2f2fb;
  --lavender3: #f9f9fe;
  --skyblue: #219fff;
  --aliceblue2: #e9f6ff;
  --green: #17bd8d;
  --greenlight: #e9fbf6;
  --yellow: #ffa114;
  --floralwhite: #fff7eb;
  --sunsetorange: #ff4e3e;
  --rose: #ffedec;
  --lavender4: #e1deff;
  --columbiablue: #b0ddff;
  --rose2: #ffe6e4;
}

/* reset, root - END */
@media (min-width: 1400px) {
  .container {
    max-width: 1446px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #4B5768;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400px;
}
@media (max-width: 575px) {
  p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}

/* helper , base classes */
.text-dark {
  color: #001B44;
}

.bg-dark-2 {
  color: #001B44;
}

.bg-dark {
  background-color: #001B44;
}

.text-dark-v2 {
  color: #4B5768;
}

.text-dark-2 {
  color: #8E97A6;
}

.text-dark-3 {
  color: #5D6878;
}

.text-dark-4 {
  color: #8E97A6;
}

.fs-13 {
  font-size: 13px;
  line-height: normal;
}

.fs-9 {
  font-size: 9px;
  line-height: normal;
}

.fs-10 {
  font-size: 10px;
  line-height: normal;
}

.fs-12 {
  font-size: 12px;
  line-height: normal;
}

.fs-14 {
  font-size: 14px;
  line-height: 22px;
}

.fs-15 {
  font-size: 15px;
  line-height: 25px;
}

.fs-16 {
  font-size: 16px;
  line-height: normal;
}
@media (max-width: 575px) {
  .fs-16 {
    font-size: 14px;
    font-weight: 700;
  }
}

.fs-18 {
  font-size: 18px;
  line-height: normal;
}

.fs-24 {
  font-size: 24px;
  line-height: 31px;
}

.fs-24-v2 {
  font-size: 24px;
  line-height: 31px;
}
@media (max-width: 575px) {
  .fs-24-v2 {
    font-size: 14px;
    line-height: 18px;
  }
}

.fs-20 {
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 575px) {
  .fs-20 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.fs-30 {
  font-size: 30px;
  line-height: 40px;
}

.fs-32 {
  font-size: 32px;
  line-height: 41px;
}
@media (max-width: 575px) {
  .fs-32 {
    font-size: 18px;
    line-height: 23px;
  }
}

.fs-36 {
  font-size: 36px;
  line-height: 46px;
}

.fs-44 {
  font-size: 44px;
  line-height: 57px;
}
@media (max-width: 575px) {
  .fs-44 {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
  }
}

.fs-54 {
  font-size: 54px;
  line-height: 3.37rem;
}

.fs-56 {
  font-size: 56px;
  line-height: 72px;
}
@media (max-width: 575px) {
  .fs-56 {
    font-size: 32px;
    line-height: 41px;
    font-weight: 400;
  }
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-medium {
  font-weight: 400px;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.box-shadow {
  box-shadow: 0px 15px 40px rgba(22, 8, 49, 0.1);
}

.box-shadow2 {
  box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.05);
}

.radius-10 {
  border-radius: 10px;
}

.radius-16 {
  border-radius: 16px;
}

.radius-100 {
  border-radius: 100px;
}

.banner-padding {
  padding: 260px 0 500px 0;
}

.p-100 {
  padding: 96px 0;
}
@media (max-width: 575px) {
  .p-100 {
    padding: 100px 0;
  }
}

.green-yello-btn {
  padding: 18px 32px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #001B44;
}

/* helper , base classes  - END*/
nav .navbar-btn {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
  padding: 13px 20px;
}
nav .navbar-btn a {
  color: #001B44 !important;
}
@media (max-width: 575px) {
  nav .navbar-toggler-icon {
    background-color: white;
  }
}

.banner {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -100px;
}
@media (max-width: 575px) {
  .banner {
    background-image: url(../img/banner-bg.png);
    margin-top: -200px;
  }
}
.banner .banner-btn {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
  padding: 13px 20px;
  display: inline-block;
  color: #001B44;
}
.banner .banner-head,
.banner .banner-sub-head {
  max-width: 725px;
}
.banner .dreams {
  background: linear-gradient(129deg, #FF3363 13.86%, #FFE664 84.98%, #00FFA2 91.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.discover {
  /* Rounded sliders */
}
.discover .discounts {
  padding: 47px 70px 47px 70px;
  border-radius: 12px;
  border: 1px solid var(--dark-dark_5, #B7BCC3);
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 10px;
  background-image: url(../img/discount-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.discover .discounts .discover-select {
  border: 0;
}
@media (max-width: 575px) {
  .discover .discounts {
    padding: 46px 18px 47px 23px;
  }
}
.discover .discounts .discount-off {
  top: 6px;
  left: 6px;
}
.discover .discounts h5 {
  background-color: #FFE664;
  display: inline;
  padding: 8px 15px;
  border-radius: 25px;
}
.discover .discover-select {
  border: 0;
  width: 262px;
  margin-top: 5px;
}
.discover .discover-select:focus {
  outline: none;
}
.discover .discover-right-col {
  border-radius: 12px;
  border: 1px solid #00FFA2;
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
  padding: 25px;
}
@media (max-width: 575px) {
  .discover .discover-right-col {
    border: 0;
    box-shadow: none;
  }
}
.discover .right-middle {
  padding: 12px 24px 15px 24px;
  border-radius: 12px;
  border: 1px solid #8E97A6;
}
.discover .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.discover .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.discover .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.discover .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #848B9A;
  transition: 0.4s;
}
.discover input:checked + .slider {
  background-color: #2196F3;
}
.discover input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.discover input:checked + .slider:before {
  transform: translateX(26px);
}
.discover .slider.round {
  border-radius: 34px;
}
.discover .slider.round:before {
  border-radius: 50%;
}
.discover .discount-btn {
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  padding: 18px 32px;
}
@media (max-width: 575px) {
  .discover .discover-left-head,
  .discover .discover-left-sub {
    text-align: center;
  }
}
.discover .splide__arrow--prev {
  display: none !important;
}
.discover .splide__arrow--next {
  display: none !important;
}
.discover .splide__pagination--ltr {
  margin-top: 20px !important;
}
.discover .splide__pagination--ltr {
  display: none !important;
}

.ideal-ride {
  background-color: #ECEEF1;
}
@media (max-width: 575px) {
  .ideal-ride {
    padding: 47px 0;
  }
}
.ideal-ride .ideal-sub {
  max-width: 696px;
  margin: auto;
}
.ideal-ride .ideal-card-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.ideal-ride .ideal-card {
  background-color: #FFF;
  padding: 24px 61px;
  border-radius: 12px;
  box-shadow: 0px 0px 40px -13px rgba(0, 27, 68, 0.25);
  max-height: 500px;
}
.ideal-ride .ideal-card-logo {
  left: -27px;
}
.ideal-ride .mechanical-breakdown {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ideal-ride .container {
  position: relative;
}
.ideal-ride .swiper-slide {
  height: 200px;
  background: #ddd;
}
@media (max-width: 575px) {
  .ideal-ride .ideal-card-1 .splide__arrow {
    display: none !important;
  }
}
.ideal-ride .splide__arrow--prev {
  left: -5rem;
  background-color: #FFF;
}
.ideal-ride .splide__arrow--next {
  right: -5rem;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
}

.prospering-customers {
  background-color: #001B44;
}
.prospering-customers .drive {
  background: linear-gradient(90deg, #FF3363 57.9%, #FFE464 76.87%, #FFE664 76.88%, #F8E766 76.88%, #00FFA2 96.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prospering-customers .customers-sub {
  max-width: 696px;
  margin: auto;
  color: #E5E8ED !important;
}
.prospering-customers .splide__arrow--prev,
.prospering-customers .splide__arrow--next {
  display: none !important;
}
.prospering-customers .customers-head {
  max-width: 696px;
  margin: auto;
}

.military-offer .miltary-mini-head,
.military-offer .upgrade-mini-head,
.credit-history .miltary-mini-head,
.credit-history .upgrade-mini-head {
  border-radius: 100px;
  background: #ECEEF1;
  display: inline;
  padding: 5px 10px;
}
@media (max-width: 575px) {
  .military-offer .miltary-head,
  .military-offer .miltary-sub-head,
  .credit-history .miltary-head,
  .credit-history .miltary-sub-head {
    text-align: center;
  }
}
.military-offer .military-offer-btn,
.credit-history .military-offer-btn {
  padding: 18px 32px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  display: inline-block;
}

.born-offer {
  background-image: url(../img/born-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 575px) {
  .born-offer {
    background-image: url(../img/born-small-bg.svg);
  }
}
.born-offer .born-main {
  padding: 576px 0 96px 0;
  max-width: 596px;
}
.born-offer .born-main .first-time {
  background: linear-gradient(90deg, #FF3363 17.31%, #FFE464 30.97%, #FFE664 30.97%, #F8E766 30.97%, #00FFA2 45.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.born-offer .born-main .born-offer-btn {
  padding: 18px 32px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  display: inline-block;
}

.find-make {
  background-color: #ECEEF1;
}
.find-make .find-card-wrapper {
  border-radius: 12px;
  border: 1px solid var(--gradient-gradient_2, #00FFA2);
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}
.find-make .find-card-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.find-make .find-make-sub {
  max-width: 696px;
  margin: auto;
}
.find-make .find-card-bottom {
  padding: 32px;
}

.upgrade-ride .upgrade-mini-head {
  border-radius: 100px;
  background: #ECEEF1;
  display: inline;
  padding: 5px 10px;
}
@media (max-width: 575px) {
  .upgrade-ride .upgrade-bottom {
    margin-top: 20px;
  }
}

.autoprosper-join {
  background-color: #ECEEF1;
}
.autoprosper-join .join-head,
.autoprosper-join .join-sub {
  max-width: 696px;
  margin: auto;
}
.autoprosper-join .join-cards {
  border-left: 1px solid #0A1835;
  padding: 0 64px 30px 32px;
}
@media (max-width: 575px) {
  .autoprosper-join .join-cards {
    border-top: 1px solid #0A1835;
    border-left: none;
    padding-top: 24px;
  }
}

.consultancy {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}
.consultancy .consultancy-wrapper {
  border-radius: 12px;
  background: #FFF;
  padding: 24px;
}

.guide-tips {
  background-color: #ECEEF1;
}
.guide-tips .tips-wrapper {
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}
.guide-tips .tips-wrapper .tips-bottom {
  padding: 24px;
}
.guide-tips .tips-wrapper .tips-sub-head {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.guide-tips .tips-wrapper .tips-img {
  padding: 5px;
}
.guide-tips .tips-wrapper .tips-read {
  margin-top: 109px;
}
@media (max-width: 575px) {
  .guide-tips .splide__arrow--next,
  .guide-tips .splide__arrow--prev {
    display: none !important;
  }
}

@media (max-width: 575px) {
  footer {
    padding: 20px;
  }
}
footer .footer-links a {
  color: white;
  list-style: none;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600px;
  color: #97A5C1;
}/*# sourceMappingURL=style.css.map */