/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      -
 * @created_by  - Md Shakib
 * @created_at  -
 * @modified_by -
 */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
/* fonts import -END */
/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* reset, root - END */
@media (min-width: 1400px) {
  .container {
    max-width: 1416px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.p2 {
  color: #4B5768;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400px;
}
@media (max-width: 575px) {
  .p2 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
}

/* helper , base classes */
.text-primary {
  color: #00FFA2;
}

.text-dark {
  color: #001B44;
}

.bg-dark {
  background-color: #001B44;
}

.bg-light {
  background-color: #E2FFF5 !important;
}

.bg-extra-light {
  background-color: #E9F4F0;
}

.bg-dark7 {
  background-color: #001B44;
}

.text-dark-v2 {
  color: #ECEEF1;
}

.text-dark-2 {
  color: #8E97A6;
}

.text-dark-3 {
  color: #5D6878;
}

.text-dark-4 {
  color: #8E97A6;
}

.fs-13 {
  font-size: 13px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-14-v2 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}
@media (max-width: 575px) {
  .fs-16 {
    font-size: 14px;
    font-weight: 700;
  }
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-24-v2 {
  font-size: 24px;
}
@media (max-width: 575px) {
  .fs-24-v2 {
    font-size: 14px;
    line-height: 18px;
  }
}

.fs-24-v3 {
  font-size: 24px;
}
@media (max-width: 575px) {
  .fs-24-v3 {
    font-size: 18px;
    line-height: 23px;
  }
}

.fs-20 {
  font-size: 20px;
}
@media (max-width: 575px) {
  .fs-20 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
}

.fs-30 {
  font-size: 30px;
}

.fs-32 {
  font-size: 32px;
}
@media (max-width: 575px) {
  .fs-32 {
    font-size: 18px;
    line-height: 23px;
  }
}

.fs-36 {
  font-size: 36px;
}

.fs-44 {
  font-size: 44px;
}
@media (max-width: 575px) {
  .fs-44 {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
  }
}

.fs-54 {
  font-size: 54px;
}

.fs-56 {
  font-size: 56px;
}
@media (max-width: 575px) {
  .fs-56 {
    font-size: 32px;
    line-height: 41px;
    font-weight: 400;
  }
}

.fw-small {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-medium {
  font-weight: 400px;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.radius-10 {
  border-radius: 10px;
}

.radius-12 {
  border-radius: 12px;
}

.radius-16 {
  border-radius: 16px;
}

.radius-96 {
  border-radius: 96px;
}

.radius-4 {
  border-radius: 4px;
}

.radius-500 {
  border-radius: 500px;
}

.radius-100 {
  border-radius: 100px;
}

.banner-padding {
  padding: 260px 0 500px 0;
}

.p-100 {
  padding: 100px 0;
}
@media (max-width: 575px) {
  .p-100 {
    padding: 100px 0;
  }
}

.lh-23 {
  line-height: 23.4px;
}

.lh-18 {
  line-height: 18px;
}

.lh-15 {
  line-height: 15px;
}

.lh-21 {
  line-height: 21px;
}

.lh-31 {
  line-height: 31px;
}

.lh-22 {
  line-height: 22px;
}

.lh-25 {
  line-height: 25px;
}

.lh-30 {
  line-height: 30px;
}

.lh-40 {
  line-height: 40px;
}

.lh-41 {
  line-height: 41px;
}

.lh-46 {
  line-height: 46px;
}

.lh-57 {
  line-height: 57px;
}

.green-yello-btn {
  padding: 18px 32px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #001B44;
}
@media (max-height: 575px) {
  .green-yello-btn {
    padding: 14px 24px;
  }
}

.warm-btn {
  padding: 5px 10px;
  border-radius: 100px;
  background: #001B44;
  border: 1px solid #4B5768;
}
.warm-btn:hover {
  background-color: transparent;
  border: 1px solid #4B5768;
  border-radius: 100px;
  color: #4B5768 !important;
  transition: all 0.5s ease-in-out;
}

.warm-white-btn {
  padding: 5px 10px;
  border-radius: 100px;
  background: #FFF;
  border-radius: 100px;
  border: 1px solid #4B5768;
}
.warm-white-btn:hover {
  background-color: #001B44;
  color: #FFF;
  transition: all 0.5s ease-in-out;
}

.task-btn {
  padding: 10px 20px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}

.task-dark-btn {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #ECEEF1;
}

.refresh-btn {
  padding: 10px 20px;
  border-radius: 100px;
  background-color: #ECEEF1;
}

/* helper , base classes  - END*/
nav .navbar-btn {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
  padding: 13px 20px;
}
@media (max-width: 575px) {
  nav .navbar-toggler-icon {
    background-color: white;
  }
}

.banner {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -100px;
}
@media (max-width: 575px) {
  .banner {
    background-image: url(../img/banner-bg.png);
    margin-top: -200px;
  }
}
.banner .banner-btn {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
  padding: 13px 20px;
  display: inline-block;
  color: #001B44;
}
.banner .banner-head,
.banner .banner-sub-head {
  max-width: 725px;
}
.banner .dreams {
  background: linear-gradient(129deg, #FF3363 13.86%, #FFE664 84.98%, #00FFA2 91.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.discover {
  /* Rounded sliders */
}
.discover .discounts {
  padding: 47px 70px 47px 70px;
  border-radius: 12px;
  border: 1px solid var(--dark-dark_5, #B7BCC3);
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  border-radius: 10px;
  background-image: url(../img/discount-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.discover .discounts .discover-select {
  border: 0;
}
@media (max-width: 575px) {
  .discover .discounts {
    padding: 46px 18px 47px 23px;
  }
}
.discover .discounts .discount-off {
  top: 6px;
  left: 6px;
}
.discover .discounts h5 {
  background-color: #FFE664;
  display: inline;
  padding: 8px 15px;
  border-radius: 25px;
}
.discover .discover-select {
  border: 0;
  width: 262px;
  margin-top: 5px;
  background-color: transparent;
}
@media (max-width: 575px) {
  .discover .discover-select {
    width: 230px;
  }
}
.discover .discover-select:focus {
  outline: none;
}
.discover .discover-right-col {
  border-radius: 12px;
  border: 1px solid #00FFA2;
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
  padding: 25px;
}
@media (max-width: 575px) {
  .discover .discover-right-col {
    border: 0;
    box-shadow: none;
  }
}
.discover .right-middle {
  padding: 12px 24px 15px 24px;
  border-radius: 12px;
  border: 1px solid #8E97A6;
}
.discover .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.discover .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.discover .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.discover .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #848B9A;
  transition: 0.4s;
}
.discover input:checked + .slider {
  background-color: #2196F3;
}
.discover input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.discover input:checked + .slider:before {
  transform: translateX(26px);
}
.discover .slider.round {
  border-radius: 34px;
}
.discover .slider.round:before {
  border-radius: 50%;
}
.discover .discount-btn {
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  padding: 18px 32px;
}
@media (max-width: 575px) {
  .discover .discover-left-head,
  .discover .discover-left-sub {
    text-align: center;
  }
}
.discover .splide__arrow--prev {
  display: none !important;
}
.discover .splide__arrow--next {
  display: none !important;
}
.discover .splide__pagination--ltr {
  margin-top: 20px !important;
}
.discover .splide__pagination--ltr {
  display: none !important;
}

.ideal-ride {
  background-color: #ECEEF1;
}
@media (max-width: 575px) {
  .ideal-ride {
    padding: 47px 0;
  }
}
.ideal-ride .ideal-sub {
  max-width: 696px;
  margin: auto;
}
.ideal-ride .ideal-card-sub {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.ideal-ride .ideal-card {
  background-color: #FFF;
  padding: 24px 61px;
  border-radius: 12px;
  box-shadow: 0px 0px 40px -13px rgba(0, 27, 68, 0.25);
  max-height: 500px;
}
.ideal-ride .ideal-card .ideal-card-img {
  max-width: 200px;
}
@media (max-width: 575px) {
  .ideal-ride .ideal-card .ideal-card-img {
    min-height: 200px;
  }
}
.ideal-ride .ideal-card-logo {
  left: -27px;
}
.ideal-ride .mechanical-breakdown {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ideal-ride .container {
  position: relative;
}
.ideal-ride .swiper-slide {
  height: 200px;
  background: #ddd;
}
@media (max-width: 575px) {
  .ideal-ride .ideal-card-1 .splide__arrow {
    display: none !important;
  }
}
.ideal-ride .splide__arrow--prev {
  left: -5rem;
  background-color: #FFF;
}
.ideal-ride .splide__arrow--next {
  right: -5rem;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%) !important;
}

.prospering-customers {
  background-color: #001B44;
}
.prospering-customers .drive {
  background: linear-gradient(90deg, #FF3363 57.9%, #FFE464 76.87%, #FFE664 76.88%, #F8E766 76.88%, #00FFA2 96.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.prospering-customers .customers-sub {
  max-width: 696px;
  margin: auto;
  color: #E5E8ED !important;
}
.prospering-customers .splide__arrow--prev,
.prospering-customers .splide__arrow--next {
  display: none !important;
}
.prospering-customers .customers-head {
  max-width: 696px;
  margin: auto;
}

.military-offer .miltary-mini-head,
.military-offer .upgrade-mini-head,
.credit-history .miltary-mini-head,
.credit-history .upgrade-mini-head {
  border-radius: 100px;
  background: #ECEEF1;
  display: inline;
  padding: 5px 10px;
}
@media (max-width: 575px) {
  .military-offer .miltary-head,
  .military-offer .miltary-sub-head,
  .credit-history .miltary-head,
  .credit-history .miltary-sub-head {
    text-align: center;
  }
}
.military-offer .military-offer-btn,
.credit-history .military-offer-btn {
  padding: 18px 32px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  display: inline-block;
}

.born-offer {
  background-image: url(../img/born-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 575px) {
  .born-offer {
    background-image: url(../img/born-small-bg.svg);
  }
}
.born-offer .born-main {
  padding: 576px 0 96px 0;
  max-width: 596px;
}
.born-offer .born-main .first-time {
  background: linear-gradient(90deg, #FF3363 17.31%, #FFE464 30.97%, #FFE664 30.97%, #F8E766 30.97%, #00FFA2 45.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.born-offer .born-main .born-offer-btn {
  padding: 18px 32px;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  display: inline-block;
}

.find-make {
  background-color: #ECEEF1;
}
.find-make .find-card-wrapper {
  border-radius: 12px;
  border: 1px solid var(--gradient-gradient_2, #00FFA2);
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}
.find-make .find-card-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.find-make .find-make-sub {
  max-width: 696px;
  margin: auto;
}
.find-make .find-card-bottom {
  padding: 32px;
}

.upgrade-ride .upgrade-mini-head {
  border-radius: 100px;
  background: #ECEEF1;
  display: inline;
  padding: 5px 10px;
}
@media (max-width: 575px) {
  .upgrade-ride .upgrade-bottom {
    margin-top: 20px;
  }
}

.autoprosper-join {
  background-color: #ECEEF1;
}
.autoprosper-join .join-head,
.autoprosper-join .join-sub {
  max-width: 696px;
  margin: auto;
}
.autoprosper-join .join-cards {
  border-left: 1px solid #0A1835;
  padding: 0 64px 30px 32px;
}
@media (max-width: 575px) {
  .autoprosper-join .join-cards {
    border-top: 1px solid #0A1835;
    border-left: none;
    padding-top: 24px;
  }
}

.consultancy {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}
.consultancy .consultancy-wrapper {
  border-radius: 12px;
  background: #FFF;
  padding: 24px;
}

.guide-tips {
  background-color: #ECEEF1;
}
.guide-tips .tips-wrapper {
  background-color: #FFF;
  border-radius: 12px;
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}
.guide-tips .tips-wrapper .tips-bottom {
  padding: 24px;
}
.guide-tips .tips-wrapper .tips-sub-head {
  font-size: 16px !important;
  font-weight: 400 !important;
}
.guide-tips .tips-wrapper .tips-img {
  padding: 5px;
}
.guide-tips .tips-wrapper .tips-read {
  margin-top: 109px;
}
@media (max-width: 575px) {
  .guide-tips .splide__arrow--next,
  .guide-tips .splide__arrow--prev {
    display: none !important;
  }
}

@media (max-width: 575px) {
  footer {
    padding: 20px;
  }
}
footer .footer-links a {
  color: white;
  list-style: none;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 600px;
  color: #97A5C1;
}
footer .footer-divider {
  height: 1px;
  background-color: #97A5C1;
  margin: 60px 0;
}
footer .copyright {
  color: #97A5C1;
}
footer .copy {
  position: relative;
}
footer .copy::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 1px;
  background-color: #97A5C1;
  right: -24px;
}

.dashboard-wrapper {
  background-color: #F0F4F3;
}
.dashboard-wrapper .appointment-wrapper {
  min-height: 548px;
  padding: 24px 30px 16px 16px;
  background-color: #FFF;
}
.dashboard-wrapper .appointment-wrapper .Progress {
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 4px 8px;
  background-color: #FFA114;
  display: inline-block;
  color: #FFF;
}
.dashboard-wrapper .appointment-wrapper .wade-name {
  margin-bottom: 16px;
}
.dashboard-wrapper .appointment-wrapper .wade-contact {
  margin-bottom: 12px;
}
.dashboard-wrapper .appointment-wrapper .TOYOTA-CAMRY {
  margin-top: 16px;
  margin-bottom: 30px;
}
.dashboard-wrapper .appointment-wrapper .TOYOTA-CAMRY .toyota {
  margin-bottom: 12px;
}
.dashboard-wrapper .appointment-wrapper .TOYOTA-CAMRY .appoint-btn1,
.dashboard-wrapper .appointment-wrapper .TOYOTA-CAMRY .appoint-btn2 {
  padding: 5px 10px;
}
.dashboard-wrapper .appointment-wrapper .appoint-btns {
  gap: 8px;
}
.dashboard-wrapper .appointment-wrapper .appoint-btns .appoint-btn2 {
  border: 1px solid #4B5768;
}
.dashboard-wrapper .appointment-wrapper .appoint-btns .appoint-btn1 {
  border: 1px solid #4B5768;
}
.dashboard-wrapper .appointment-wrapper .appoint-btns .appoint-btn1:hover {
  background-color: transparent;
  border: 1px solid #4B5768;
  border-radius: 100px;
  color: #4B5768 !important;
}
.dashboard-wrapper .appointment-wrapper .divider {
  background-color: #B7BCC3;
  width: 100%;
  height: 1px;
}
.dashboard-wrapper .appointment-wrapper .date-arrows {
  margin-bottom: 30px;
}
.dashboard-wrapper .email-sms-wrapper {
  margin-top: 12px;
  padding: 24px 28px 16px 16px;
  min-height: 862px;
}
.dashboard-wrapper .email-sms-wrapper .sub-email:hover {
  background-color: red;
}
.dashboard-wrapper .email-sms-wrapper .email-details {
  margin-top: 32px;
  padding: 16px 0 22px 0;
  border-bottom: 1px solid #B7BCC3;
}
.dashboard-wrapper .email-sms-wrapper .email-details .details {
  margin-bottom: 11px;
}
.dashboard-wrapper .email-sms-wrapper .email-details .details-btns {
  margin-top: 12px;
}
.dashboard-wrapper .email-sms-wrapper .email-last-btn {
  padding: 10px 97px;
  margin-top: 17px;
}
.dashboard-wrapper .sales-wrapper {
  padding: 24px 16px;
  background-color: #FFF;
  min-height: 411px;
}
.dashboard-wrapper .sales-wrapper .activities {
  padding: 5px 16px 5px 5px;
}
.dashboard-wrapper .filter-wrapper {
  padding: 22px 16px 24px 16px;
  background-color: #FFF;
  min-height: 215px;
  margin-top: 12px;
}
.dashboard-wrapper .filter-wrapper .filter-select {
  width: 22px;
  border: 0;
}
.dashboard-wrapper .filter-wrapper .divider-2 {
  margin-block: 21px 16px;
  background-color: #B7BCC3;
  width: 100%;
  height: 1px;
}
.dashboard-wrapper .filter-wrapper .filter-select2 {
  width: 213px;
  border: 0;
}
.dashboard-wrapper .filter-wrapper .date-filter {
  padding: 12px 24px 15px 24px;
  border: 1px solid #B7BCC3;
}
.dashboard-wrapper .filter-wrapper .filter-dates {
  margin-top: 16px;
}
.dashboard-wrapper .chat-wrapper {
  background-color: #FFF;
  padding: 104px 16px 16px 16px;
  margin-top: 12px;
  min-height: 772px;
}
.dashboard-wrapper .chat-wrapper .chat-head {
  background-image: url(../img/chat-head-bg.svg);
  background-repeat: no-repeat;
  padding: 9px 42px 19px 48px;
  background-position: center;
}
.dashboard-wrapper .chat-wrapper .chats {
  margin-top: 110px;
  gap: 8px;
  margin-top: 267px;
}
.dashboard-wrapper .chat-wrapper .chats .chat {
  padding: 8px 28px 10px 16px;
}
.dashboard-wrapper .chat-wrapper .chats .chat .chat-body {
  margin-bottom: 7px;
}
.dashboard-wrapper .chat-wrapper .chat-input-wrapper {
  margin-top: 12px;
}
.dashboard-wrapper .chat-wrapper .chat-input-wrapper .chat-input {
  min-width: 164px;
  border: 0;
}
.dashboard-wrapper .chat-wrapper .chat-input-wrapper .chat-input:focus {
  outline: none;
}
.dashboard-wrapper .chat-wrapper .chat-input-wrapper .chat-main {
  padding: 17px;
  border: 1px solid #8E97A6;
}
.dashboard-wrapper .chat-wrapper .chat-btn {
  margin-top: 12px;
}
.dashboard-wrapper .Appointer-wrapper {
  background-color: #FFF;
  padding: 24px;
  gap: 160px;
}
.dashboard-wrapper .Appointer-wrapper .points .pointers {
  gap: 38px;
}
.dashboard-wrapper .Appointer-wrapper .points .main-points {
  margin-top: 27px;
}
.dashboard-wrapper .Appointer-wrapper .points .point-head {
  padding: 32px 95px;
  background-color: #E2FFF5;
}
.dashboard-wrapper .Appointer-wrapper .points .point-sub {
  margin-top: 10px;
}
.dashboard-wrapper .Appointer-wrapper .right-col .sale-body-wrapper {
  gap: 24px;
}
.dashboard-wrapper .Appointer-wrapper .right-col .right-col-sub {
  margin-top: 38px;
}
.dashboard-wrapper .Appointer-wrapper .right-col .day-wrapper {
  gap: 24px;
}
.dashboard-wrapper .Appointer-wrapper .right-col .day {
  gap: 12px;
}
.dashboard-wrapper .Appointer-wrapper .right-col .day-head {
  margin-bottom: 5px;
}
.dashboard-wrapper .Appointer-wrapper .right-col .sale-head {
  margin-bottom: 24px;
}
.dashboard-wrapper .main-middle-wrapper {
  padding: 44px 25px 25px 25px;
  background-color: #FFF;
  margin-top: 24px;
}
.dashboard-wrapper .main-middle-wrapper .main-input .main-middle-input {
  padding: 17px 0 17px 30px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 8px 20px;
  border: 1px solid #8E97A6;
}
.dashboard-wrapper .main-middle-wrapper .main-input .main-middle-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
}
.dashboard-wrapper .main-middle-wrapper .main-input .main-middle-input::placeholder {
  font-size: 14px;
  font-weight: 500;
}
.dashboard-wrapper .main-middle-wrapper .main-input .main-middle-input:focus {
  outline: none;
}
.dashboard-wrapper .main-middle-wrapper .weather-wrapper {
  margin-top: 16px;
}
.dashboard-wrapper .main-middle-wrapper .weather-wrapper .weather-sub {
  margin-top: 5px;
}
.dashboard-wrapper .main-middle-wrapper .form-element input {
  display: none;
}
.dashboard-wrapper .main-middle-wrapper .form-element label {
  border-radius: 96px;
  border: 2px solid #E5E8ED;
  transition: all 230ms linear;
  padding: 9px 18px;
  cursor: pointer;
}
.dashboard-wrapper .main-middle-wrapper input:checked + label {
  background-color: #001B44;
}
.dashboard-wrapper .main-middle-wrapper input:checked + label h5 {
  color: #FFF;
}
.dashboard-wrapper .main-bottom-wrapper {
  background-color: #FFF;
  margin-top: 12px;
  padding: 10px 24px 10px 10px;
  gap: 20px;
}
.dashboard-wrapper .main-bottom-wrapper .bottom-cards {
  padding-bottom: 20px;
  border-bottom: 1px solid #B7BCC3;
}
.dashboard-wrapper .main-bottom-wrapper .bottom-cards-unique {
  border-bottom: none;
}
.dashboard-wrapper .main-bottom-wrapper .cards {
  gap: 24px;
}
.dashboard-wrapper .main-bottom-wrapper .card-select {
  padding: 18px 18px;
  border: 1px solid #8E97A6;
  border-radius: 12px;
}
.dashboard-wrapper .main-bottom-wrapper .card-select .cards-select {
  width: 250px;
}
.dashboard-wrapper .main-bottom-wrapper .card-btn1 {
  color: #FFF;
}
.dashboard-wrapper .dealerplex-wrapper {
  padding: 24px 16px;
  background-color: #FFF;
}
.dashboard-wrapper .dealerplex-wrapper .bank-wrapper {
  margin-top: 16px;
  padding: 16px 12px 26px 12px;
  background-color: #E2FFF5;
  margin-bottom: 12px;
}
.dashboard-wrapper .dealerplex-wrapper .bank-wrapper .bank-checkbox .bank-checkboxs {
  gap: 8px;
  margin-top: 16px;
}
.dashboard-wrapper .dealerplex-wrapper .bank-wrapper .bank-checkbox .bank-checkboxs .form-element input {
  display: none;
}
.dashboard-wrapper .dealerplex-wrapper .bank-wrapper .bank-checkbox .bank-checkboxs .form-element label {
  border-radius: 4px;
  border: 1px solid #B7BCC3;
  transition: all 230ms linear;
  padding: 8px;
  cursor: pointer;
}
.dashboard-wrapper .dealerplex-wrapper .bank-wrapper .bank-checkbox .bank-checkboxs input:checked + label {
  background-color: #001B44;
}
.dashboard-wrapper .dealerplex-wrapper .bank-wrapper .bank-checkbox .bank-checkboxs input:checked + label svg * {
  fill: white;
}
.dashboard-wrapper .dealerplex-wrapper .bank-btn {
  padding: 10px 70.5px;
  border: 0;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */